$base-font-size: 20px;
$bfs: $base-font-size;

/*------------- BASE FONT -----------------*/

$screen: "only screen";

@media #{$screen} and (min-width: 768px) { html{font-size:16px;} }

@media #{$screen} and (min-width: 1000px) { html{font-size:18px;} }

@media #{$screen} and (min-width: 1000px) and (min-height: 600px){ html{font-size:16px;} }

@media #{$screen} and (min-width: 1200px) { html{font-size:20px;} }

@media #{$screen} and (min-width: 1400px) { html{font-size:22px;} }

@media #{$screen} and (min-width: 1600px) { html{font-size:24px;} }

@media #{$screen} and (min-width: 1800px) { html{font-size:26px;} }

@media #{$screen} and (min-width: 2000px) { html{font-size:28px;} }

@media #{$screen} and (min-width: 2200px) { html{font-size:30px;} }

@media #{$screen} and (min-width: 2400px) { html{font-size:32px;} }

@media #{$screen} and (min-width: 2600px) { html{font-size:34px;} }


/*------------- GENERIC -----------------*/

.mobile{

  display:none;
}

/*------------- BODY -----------------*/

body {

  background-image: url('../images/bg_wp_2500X1750.jpg');

}

/*------------- PAGE HEAD -----------------*/

header.page-head {

  height:em(90px, $bfs);

  h1.logo {
    font-size:em(70px, $bfs);
    line-height: em(50px, $bfs);
    top:em(20px, $bfs);
    text-indent: em(-3px, $bfs);
    left: 5%;

  }

  button {
    top:em(20px, $bfs);
    width:em(90px, $bfs);
    height:em(50px, $bfs);
    line-height:0;
    right: 5%;
  }

  h1.splash {
    font-size: em(150px, $bfs);
    line-height: em(150px, $bfs);

    right: 5%;
  }


  h2.splash {
    font-size: em(75px, $bfs);
    line-height: em(75px, $bfs);
    left: 5%;
    bottom: em(40px, $bfs);
  }

}

/*------------- SPLASH PAGE -----------------*/

.splash header.page-head {
  h1.splash {
    top: em(40px, $bfs);
  }

  h2.splash {

    bottom: em(40px, $bfs);
    opacity:1;
  }
}

/*------------- MAIN NAV -----------------*/

nav {


  button {

    top:em(20px, $bfs);
    width:em(71px, $bfs);
    height:em(71px, $bfs);
    line-height:0;
    right: 5%;

  }

  ul {

    top:em(200px, $bfs);
    left:5%;

    li {
      font-size: em(65px, $bfs);
      line-height: em(65px, $bfs);
      margin-bottom: em(45px, $bfs);
      padding-left: em(125px, $bfs);
      }
  }





}

/*------------- MAIN BANNER -----------------*/



section.banner {

  ul {

    li {
      font-size: em(120px, $bfs);
      line-height: em(120px, $bfs);
      top: em(-60px, $bfs)
    }

  }

}

@media #{$screen} and (min-width: 1400px) {

  section.banner {

    ul {

      li {
        font-size: em(100px, $bfs);
        line-height: em(100px, $bfs);
        top: em(-50px, $bfs)
      }

    }

  }


}

/*------------- MAIN SECTION -----------------*/

section.main {


  h2{
    margin: 0 5%;
    padding: em(25px, $bfs) 0;
    font-size:em(45px, $bfs);
  }

  section.display {
    padding: em(25px, $bfs) 5%;
    background-image: url('../images/floral_bg_tile_250X250.jpg ');
    background-size: em(250px, $bfs) em(250px, $bfs);
  }

}

/*------------- HOME DISPLAY -----------------*/


  @media #{$screen} and (min-width: 768px) {

    div.screen {

        width:50%;

        .box {

          .back {

            h3{
              font-size:em(85px, $bfs);
              line-height: em(75px, $bfs);
              margin: em(20px, $bfs) 5%;
            }

            p.text {
              font-size:em(18px, $bfs);
              line-height: em(24px, $bfs);
              margin:0 5% 0 5%;

            }

            p.button {

              a{
                height: em(45px, $bfs);
                width: 45%;
                bottom:em(20px, $bfs);
                left:5%;
                font-size:em(18px, $bfs);
                line-height: em(24px, $bfs);
                padding-top:em(10px, $bfs);

              }

            }
          }

        }
    }

  }

@media #{$screen} and (min-width: 850px) {

  div.screen {

    width:50%;

    .box {

      .back {

        h3{
          font-size:em(95px, $bfs);
          line-height: em(75px, $bfs);
          margin: em(25px, $bfs) 5%;
        }

        p.text {
          font-size:em(22px, $bfs);
          line-height: em(28px, $bfs);
          margin:0 5% 0 5%;

        }

        p.button {

          a{
            height: em(60px, $bfs);
            width: 45%;
            bottom:em(25px, $bfs);
            left:5%;
            font-size:em(22px, $bfs);
            line-height: em(28px, $bfs);
            padding-top:em(15px, $bfs);

          }

        }
      }

    }
  }

}

  @media #{$screen} and (min-width: 1000px) {

    div.screen {

      width:33.333333%;

      .box {

        .back {

          h3{
            font-size:em(65px, $bfs);
            line-height: em(45px, $bfs);
            margin: em(25px, $bfs) 5%;
          }

          p.text {
            font-size:em(16px, $bfs);
            line-height: em(20px, $bfs);
            margin:0 5% 0 5%;

          }

          p.button {

            a{
              height: em(55px, $bfs);
              width: 45%;
              bottom:em(25px, $bfs);
              left:5%;
              font-size:em(16px, $bfs);
              line-height: em(20px, $bfs);
              padding-top:em(15px, $bfs);

            }

          }
        }

      }


    }
  }

  @media #{$screen} and (min-width: 1250px) {

    div.screen {

      width:25%;

      .box {

        .back {

          h3{
            font-size:em(45px, $bfs);
            line-height: em(35px, $bfs);
            margin: em(15px, $bfs) 5%;
          }

          p.text {
            font-size:em(14px, $bfs);
            line-height: em(18px, $bfs);
            margin:0 5% 0 5%;

          }

          p.button {

            a{
              height: em(40px, $bfs);
              width: 45%;
              bottom:em(15px, $bfs);
              left:5%;
              font-size:em(14px, $bfs);
              line-height: em(20px, $bfs);
              padding-top:em(9px, $bfs);

            }

          }
        }

      }
    }
  }

  @media #{$screen} and (min-width: 1750px) {

    div.screen {

      width:20%;

      .box {

        .back {

          h3{
            font-size:em(35px, $bfs);
            line-height: em(25px, $bfs);
            margin: em(15px, $bfs) 5%;
          }

          p.text {
            font-size:em(12px, $bfs);
            line-height: em(16px, $bfs);
            margin:0 5% 0 5%;

          }

          p.button {

            a{
              height: em(35px, $bfs);
              width: 45%;
              bottom:em(15px, $bfs);
              left:5%;
              font-size:em(12px, $bfs);
              line-height: em(16px, $bfs);
              padding-top:em(9px, $bfs);

            }

          }
        }

      }

    }

  }

/* high res desktop */


@media #{$screen} and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), #{$screen} and (min-width: 768px) and (min-resolution: 192dpi)  {

  div.screen {

    width:50%;

    .box {

      .back {

        h3{
          font-size:em(55px, $bfs);
          line-height: em(40px, $bfs);
          margin: em(15px, $bfs) 5%;
        }

        p.text {
          font-size:em(14px, $bfs);
          line-height: em(22px, $bfs);
          margin:0 5% 0 5%;

        }

        p.button {

          a{
            height: em(35px, $bfs);
            width: 45%;
            bottom:em(15px, $bfs);
            left:5%;
            font-size:em(14px, $bfs);
            line-height: em(22px, $bfs);
            padding-top:em(6px, $bfs);

          }

        }
      }

    }
  }

}


@media #{$screen} and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), #{$screen} and (min-width: 768px) and (min-resolution: 192dpi)  {

  div.screen {

    width:50%;

    .box {

      .back {

        h3{
          font-size:em(70px, $bfs);
          line-height: em(50px, $bfs);
          margin: em(20px, $bfs) 5%;
        }

        p.text {
          font-size:em(18px, $bfs);
          line-height: em(26px, $bfs);
          margin:0 5% 0 5%;

        }

        p.button {

          a{
            height: em(45px, $bfs);
            width: 45%;
            bottom:em(20px, $bfs);
            left:5%;
            font-size:em(18px, $bfs);
            line-height: em(26px, $bfs);
            padding-top:em(10px, $bfs);

          }

        }
      }

    }
  }

}


@media #{$screen} and (min-width: 1250px) and (-webkit-min-device-pixel-ratio: 2), #{$screen} and (min-width: 1250px) and (min-resolution: 192dpi)  {

  div.screen {

    width:33.333333333%;

    .box {

      .back {

        h3{
          font-size:em(60px, $bfs);
          line-height: em(45px, $bfs);
          margin: em(15px, $bfs) 5%;
        }

        p.text {
          font-size:em(16px, $bfs);
          line-height: em(24px, $bfs);
          margin:0 5% 0 5%;

        }

        p.button {

          a{
            height: em(35px, $bfs);
            width: 45%;
            bottom:em(15px, $bfs);
            left:5%;
            font-size:em(16px, $bfs);
            line-height: em(24px, $bfs);
            padding-top:em(6px, $bfs);

          }

        }
      }

    }
  }

}

@media #{$screen} and (min-width: 1500px) and (-webkit-min-device-pixel-ratio: 2), #{$screen} and (min-width: 1500px) and (min-resolution: 192dpi)  {

  div.screen {

    width:33.333333333%;

    .box {

      .back {

        h3{
          font-size:em(75px, $bfs);
          line-height: em(55px, $bfs);
          margin: em(20px, $bfs) 5%;
        }

        p.text {
          font-size:em(18px, $bfs);
          line-height: em(26px, $bfs);
          margin:0 5% 0 5%;

        }

        p.button {

          a{
            height: em(40px, $bfs);
            width: 45%;
            bottom:em(18px, $bfs);
            left:5%;
            font-size:em(18px, $bfs);
            line-height: em(26px, $bfs);
            padding-top:em(8px, $bfs);

          }

        }
      }

    }
  }

}

@media #{$screen} and (min-width: 1750px) and (-webkit-min-device-pixel-ratio: 2), #{$screen} and (min-width: 1750px) and (min-resolution: 192dpi)  {

  div.screen {

    width:25%;

    .box {

      .back {

        h3{
          font-size:em(65px, $bfs);
          line-height: em(45px, $bfs);
          margin: em(20px, $bfs) 5%;
        }

        p.text {
          font-size:em(16px, $bfs);
          line-height: em(24px, $bfs);
          margin:0 5% 0 5%;

        }

        p.button {

          a{
            height: em(40px, $bfs);
            width: 45%;
            bottom:em(20px, $bfs);
            left:5%;
            font-size:em(16px, $bfs);
            line-height: em(24px, $bfs);
            padding-top:em(8px, $bfs);

          }

        }
      }

    }
  }

}

@media #{$screen} and (min-width: 2000px) and (-webkit-min-device-pixel-ratio: 2), #{$screen} and (min-width: 2000px) and (min-resolution: 192dpi)  {

  div.screen {

    width:25%;

    .box {

      .back {

        h3{
          font-size:em(75px, $bfs);
          line-height: em(50px, $bfs);
          margin: em(25px, $bfs) 5%;
        }

        p.text {
          font-size:em(18px, $bfs);
          line-height: em(24px, $bfs);
          margin:0 5% 0 5%;

        }

        p.button {

          a{
            height: em(45px, $bfs);
            width: 45%;
            bottom:em(20px, $bfs);
            left:5%;
            font-size:em(18px, $bfs);
            line-height: em(24px, $bfs);
            padding-top:em(10px, $bfs);

          }

        }
      }

    }
  }

}

@media #{$screen} and (min-width: 2250px) and (-webkit-min-device-pixel-ratio: 2), #{$screen} and (min-width: 2250px) and (min-resolution: 192dpi)  {

  div.screen {

    width:20%;

    .box {

      .back {

        h3{
          font-size:em(65px, $bfs);
          line-height: em(45px, $bfs);
          margin: em(20px, $bfs) 5%;
        }

        p.text {
          font-size:em(16px, $bfs);
          line-height: em(22px, $bfs);
          margin:0 5% 0 5%;

        }

        p.button {

          a{
            height: em(40px, $bfs);
            width: 45%;
            bottom:em(20px, $bfs);
            left:5%;
            font-size:em(16px, $bfs);
            line-height: em(24px, $bfs);
            padding-top:em(8px, $bfs);

          }

        }
      }

    }
  }

}





/*------------- PAGE FOOT -----------------*/

footer{

  p{

    font-size:em(20px, $bfs);
    margin: 0 5%;
    padding: em(35px, $bfs) 0;
  }

}