/*------------- GLOBAL VARS -----------------*/

$color1: #fefd3e; //yellow
$color2: #fff;
$color3: #ccc; //strap txt
$color4: #a1a1a1; // head bg
$color5: #99b1c7; // menu bg


/*------------- FUNCTIONS -----------------*/

@function em($target, $context) {
  @if $target == 0px { @return 0 }
  @return $target / $context + 0rem;
}

/*------------- MIXINS -----------------*/

@mixin drop-shadow ($x, $y, $blur, $spread, $alpha) {
  -webkit-box-shadow: $x $y $blur $spread rgba(2,18,28, $alpha);
  -moz-box-shadow:    $x $y $blur $spread rgba(2,18,28, $alpha);
  box-shadow:         $x $y $blur $spread rgba(2,18,28, $alpha);
}

@mixin transition ($property, $time, $type) {
  -webkit-transition: $property $time $type;
  -moz-transition: $property $time $type;
  -o-transition: $property $time $type;
  -ms-transition: $property $time $type;
  transition: $property $time $type;
}

@mixin transitionMulti2 ($property, $time, $type, $property2, $time2, $type2) {
  -webkit-transition: $property $time $type , $property2 $time2 $type2;
  -moz-transition: $property $time $type , $property2 $time2 $type2;
  -o-transition: $property $time $type , $property2 $time2 $type2;
  -ms-transition: $property $time $type , $property2 $time2 $type2;
  transition: $property $time $type , $property2 $time2 $type2;
}

@mixin notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

/*------------- GLOBAL STYLES -----------------*/

* {

  border:0;
  outline:0;
  margin:0;
  padding:0;
  font-family: 'filson-pro'; //200,900

}



body {

  background-attachment:fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;

  @include transition(background-position, 0.15s, linear);

}


/*------------- PAGE HEAD -----------------*/

header.page-head {

  background-color:$color4;
  position:fixed;
  z-index:10;
  width:100%;
  box-sizing: border-box;

  @include transition(height, 0.15s, ease-out);

  @include drop-shadow(0px, 4px, 8px, 2px, 0.25);

  h1 {
    color:$color2;
    font-weight:900;
    position:absolute;

    span{
      color:$color1;
      line-height:inherit;
    }
  }



  button {
    position:absolute;
    background-color:transparent;

    @include transition(right, 0.15s, ease-out);

    text-indent: -99999px;
    overflow:hidden;
    background-image: url('../images/menu_button.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &:hover, &:active {
      background-image: url('../images/menu_button_hover.svg');
    }
  }

  h1.logo {
    @include transition(left, 0.15s, ease-out);
  }

  h1.splash {
    top:-500px;
    @include transition(top, 0.15s, ease-out);
  }

  h2.splash {
    font-weight:200;
    color:$color3;
    position:absolute;
    opacity:0;
    bottom: 500px;
    @include transition(opacity, 0.2s, ease-out);
    @include transition(bottom, 0.2s, ease-out);

  }

}

/*------------- SPLASH PAGE -----------------*/

.splash header.page-head {

  height:100%;

  h1.logo{
    left: -400px;
  }

  button {
    right: -400px;
  }

}

.splash section.banner ul{

  left: 20%;

}

/*------------- MAIN NAV -----------------*/

nav {

  position: absolute;
  z-index:200;
  width:100%;
  height:100%;
  background-color:$color5;
  position:fixed;
  top:0;
  left:0;
  @include transition(left, 0.2s, ease-out);

  &.off {

    left: 100%;
  }

  button {
    position:absolute;
    background-color:transparent;

    @include transition(right, 0.15s, ease-out);

    text-indent: -99999px;
    overflow:hidden;
    background-image: url('../images/menu_close.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &:hover, &:active {
      background-image: url('../images/menu_close_hover.svg');
    }
  }

  ul {

    list-style-type:none;
    position:absolute;
    top:20%;
    left:5%
  }

  li {

    background-repeat:no-repeat;
    background-position: left;
    background-size: auto 100%;

    a {

      color:$color2;
      text-decoration:none;
    }

    a:hover, a:active {

      color:$color1;
    }
  }

  li.email {
    background-image: url('../images/icon_email.svg');

  }

  li.phone {
    background-image: url('../images/icon_phone2.svg');

  }

  li.github {
    background-image: url('../images/icon_github.svg');

  }

  li.linkedin {
    background-image: url('../images/icon_linkedin.svg');

  }



}

/*------------- MAIN BANNER -----------------*/



section.banner {
  display:block;
  position:relative;
  overflow:hidden;

  @include transition(height, 0.2s, ease-out);

  ul {

    list-style-type: none;
    position:absolute;
    left:0;
    width:100%;

    @include transition(left, 1s, ease-out);

    li {
      position:absolute;
      width:100%;
      top:0;
      text-align:center;
      color: $color2;
      font-weight: 900;
      opacity:0;
      left:5%;
      z-index:0;


      @include transitionMulti2(opacity, 1s, ease-out , left, 1s, ease-out);
        span {

          color:$color1;

        }


    }

    li.on {

      opacity:1;
      left:0;
      z-index:1;

    }


  }

}

/*------------- MAIN SECTION -----------------*/

section.main{

  background-color:$color2;


  h2{

    color:$color4;
    font-weight:200;
    opacity:1;

    @include transition(opacity, 0.75s ,ease-in-out);

  }


  section.display {

    background-repeat: repeat;

  }

}

/*------------- MAIN ANIMATIONS-----------------*/

.splash section.main {

  h2 {

    opacity:0;

  }

  section.display div.screen {

    right:-25px;

  }

}

/*------------- HOME DISPLAY -----------------*/

section.display {

  line-height:0;
  letter-spacing: 0;
  font-size:0;


  div.screen {

    display: inline-block;
    box-sizing: border-box;
    position:relative;
    right:0;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    -ms-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;


    @include transition(right, 0.4s, ease-out);

    .box {

      transform-style: preserve-3d;
      transition: 1s;
      box-sizing: border-box;
      -webkit-transform-style: preserve-3d;
      -webkit-transition: 1s;
      -moz-transform-style: preserve-3d;
      -moz-transition: 1s;
      -ms-transform-style: preserve-3d;
      -ms-transition: 1s;
      -o-transform-style: preserve-3d;
      -o-transition: 1s;

      display:inline-block;
      width:100%;
      position:relative;

    div {
      width:100%;
      backface-visibility: hidden;  /* W3C */
      -webkit-backface-visibility: hidden; /* Safari & Chrome */
      -moz-backface-visibility: hidden; /* Firefox */
      -ms-backface-visibility: hidden; /* Internet Explorer */
      -o-backface-visibility: hidden; /* Opera */
      box-sizing: border-box;
    }

    .back {
      background: $color5;
      height:100% ;
      transform:rotatey(-180deg);
      -ms-transform:rotatey(-180deg); /* IE 9 */
      -moz-transform:rotatey(-180deg); /* Firefox */
      -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
      -o-transform:rotatey(-180deg); /* Opera */

      position:absolute;
      top:0;
      width:100%;

        h3{
            color:$color2;
            font-weight:400;

        }

        p.text {
          color:$color2;
          font-weight:400;

        }

        p.button {

            a {

              position:absolute;
              text-align:center;
              color:$color2;
              font-weight:400;
              box-sizing: border-box;
              background-color:transparent;
              text-decoration:none;
              border: 1px solid $color2;

            }

            a:hover {
              color:$color5;
              background-color:$color1;
              border: 1px solid $color1;


            }
        }
    }

  }

  .box.flipped {
    transform:rotatey(180deg);
    -ms-transform:rotatey(180deg); /* IE 9 */
    -moz-transform:rotatey(180deg); /* Firefox */
    -webkit-transform:rotatey(180deg); /* Safari and Chrome */
    -o-transform:rotatey(180deg); /* Opera */
  }

  img {

    width:100%;
    height: auto;
  }


}
}

/*------------- PAGE FOOT -----------------*/


footer{

p{

  color:$color4;
  font-weight:200;

}
}








