$base-font-size: 12px;
$bfs: $base-font-size;

.mobile{

  display:inherit;
}

.desktop {

  display:none;
}

body {

  background-image: url('../images/bg_wp_800X560.jpg');

}

/*------------- SPLASH BANNER -----------------*/

header.page-head {
  h1 {
    font-size: em(50px, $bfs);
    line-height: em(50px, $bfs);
    right: 5%;
    top: em(20px, $bfs);
  }

  h2 {
    font-size: em(25px, $bfs);
    line-height: em(25px, $bfs);
    left: 5%;
    bottom: em(20px, $bfs);
  }

  button {


  }
}

/*------------- MINIMISED HEAD -----------------*/

header.page-head.min {



}