/*------------- GLOBAL VARS -----------------*/
/*------------- FUNCTIONS -----------------*/
/*------------- MIXINS -----------------*/
/*------------- GLOBAL STYLES -----------------*/
* {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  font-family: 'filson-pro'; }

body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

/*------------- SPLASH BANNER -----------------*/
header.page-head {
  background-color: #a1a1a1;
  position: fixed;
  z-index: 10;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  -webkit-transition: height 0.15s ease-out;
  -moz-transition: height 0.15s ease-out;
  -o-transition: height 0.15s ease-out;
  -ms-transition: height 0.15s ease-out;
  transition: height 0.15s ease-out;
  -webkit-box-shadow: 0px 4px 8px 2px rgba(2, 18, 28, 0.25);
  -moz-box-shadow: 0px 4px 8px 2px rgba(2, 18, 28, 0.25);
  box-shadow: 0px 4px 8px 2px rgba(2, 18, 28, 0.25);
  /* hidden mini head items */ }
  header.page-head h1 {
    color: #fff;
    font-weight: 900;
    position: absolute;
    -webkit-transition: top 0.15s ease-out;
    -moz-transition: top 0.15s ease-out;
    -o-transition: top 0.15s ease-out;
    -ms-transition: top 0.15s ease-out;
    transition: top 0.15s ease-out; }
    header.page-head h1 span {
      color: #fefd3e;
      line-height: inherit; }
  header.page-head h2 {
    font-weight: 200;
    color: #ccc;
    position: absolute;
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    -webkit-transition: bottom 0.2s ease-out;
    -moz-transition: bottom 0.2s ease-out;
    -o-transition: bottom 0.2s ease-out;
    -ms-transition: bottom 0.2s ease-out;
    transition: bottom 0.2s ease-out; }
  header.page-head h1.min {
    position: absolute;
    left: -50%;
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    -ms-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out; }
  header.page-head button {
    position: absolute;
    right: -50%;
    background-color: transparent;
    -webkit-transition: right 0.15s ease-out;
    -moz-transition: right 0.15s ease-out;
    -o-transition: right 0.15s ease-out;
    -ms-transition: right 0.15s ease-out;
    transition: right 0.15s ease-out;
    text-indent: -99999px;
    overflow: hidden;
    background-image: url("../images/menu_button.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
    header.page-head button:hover, header.page-head button:active {
      background-image: url("../images/menu_button_hover.svg"); }

/*------------- MINIMISED HEAD -----------------*/
header.page-head.min h1 {
  top: -400px; }
header.page-head.min h2 {
  opacity: 0;
  bottom: 120%; }
header.page-head.min button {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important; }

/*------------- MAIN BANNER -----------------*/
section.banner {
  height: 1000px;
  -webkit-transition: right 0.6s ease-out;
  -moz-transition: right 0.6s ease-out;
  -o-transition: right 0.6s ease-out;
  -ms-transition: right 0.6s ease-out;
  transition: right 0.6s ease-out; }

section.banner.min {
  height: 400px;
  -webkit-transition: height 0.2s ease-out;
  -moz-transition: height 0.2s ease-out;
  -o-transition: height 0.2s ease-out;
  -ms-transition: height 0.2s ease-out;
  transition: height 0.2s ease-out; }

/*------------- MAIN SECTION -----------------*/
section.main {
  background-color: #fff; }
  section.main h2 {
    color: #a1a1a1;
    font-weight: 200; }
  section.main section.display {
    background-repeat: repeat; }

/*------------- HOME DISPLAY -----------------*/
section.display {
  line-height: 0;
  letter-spacing: 0;
  font-size: 0; }
  section.display div.screen {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    width: 50%;
    display: inline-block;
    box-sizing: border-box; }
    section.display div.screen img {
      width: 100%;
      height: auto; }

/*------------- PAGE FOOT -----------------*/
footer p {
  color: #a1a1a1;
  font-weight: 200; }

.mobile {
  display: none; }

body {
  background-image: url("../images/bg_wp_2500X1750.jpg"); }

/*------------- SPLASH BANNER -----------------*/
header.page-head h1 {
  font-size: 7.5rem;
  line-height: 7.5rem;
  top: 2rem;
  right: 5%; }
header.page-head h2 {
  font-size: 3.75rem;
  line-height: 3.75rem;
  left: 5%;
  bottom: 2rem; }
header.page-head h1.min {
  font-size: 3.5rem;
  line-height: 2.5rem;
  top: 1rem;
  text-indent: -0.15rem; }
header.page-head button {
  top: 1rem;
  width: 4.5rem;
  height: 2.5rem;
  line-height: 0; }

/*------------- MINIMISED HEAD -----------------*/
header.page-head.min {
  height: 4.5rem; }
  header.page-head.min h1.min {
    left: 5%; }
  header.page-head.min button {
    right: 5%; }

/*------------- MAIN SECTION -----------------*/
section.main h2 {
  margin: 0 5%;
  padding: 1.25rem 0;
  font-size: 2.25rem; }
section.main section.display {
  padding: 1.25rem 5%;
  background-image: url("../images/floral_bg_tile_250X250.jpg ");
  background-size: 12.5rem 12.5rem; }

/*------------- HOME DISPLAY -----------------*/
/*------------- PAGE FOOT -----------------*/
footer p {
  font-size: 1rem;
  margin: 0 5%;
  padding: 1.75rem 0; }

@media only screen and (min-width: 801px) {
  html {
    font-size: 16px; } }
@media only screen and (min-width: 1000px) {
  html {
    font-size: 18px; } }
@media only screen and (min-width: 1000px) and (min-height: 600px) {
  html {
    font-size: 16px; } }
@media only screen and (min-width: 1200px) {
  html {
    font-size: 20px; } }
@media only screen and (min-width: 1400px) {
  html {
    font-size: 22px; } }
@media only screen and (min-width: 1600px) {
  html {
    font-size: 24px; } }
@media only screen and (min-width: 1800px) {
  html {
    font-size: 26px; } }
@media only screen and (min-width: 2000px) {
  html {
    font-size: 28px; } }
@media only screen and (min-width: 2200px) {
  html {
    font-size: 30px; } }
@media only screen and (min-width: 2400px) {
  html {
    font-size: 32px; } }
@media only screen and (min-width: 2600px) {
  html {
    font-size: 34px; } }
@media only screen and (max-device-width: 800px), only screen and (max-width: 800px) {
  .mobile {
    display: inherit; }

  .desktop {
    display: none; }

  body {
    background-image: url("../images/bg_wp_800X560.jpg"); }

  /*------------- SPLASH BANNER -----------------*/
  header.page-head h1 {
    font-size: 4.16667rem;
    line-height: 4.16667rem;
    right: 5%;
    top: 1.66667rem; }
  header.page-head h2 {
    font-size: 2.08333rem;
    line-height: 2.08333rem;
    left: 5%;
    bottom: 1.66667rem; }

  /*------------- MINIMISED HEAD -----------------*/ }
@media only screen and (max-device-width: 800px) and (max-width: 800px), only screen and (max-width: 800px) and (max-width: 800px) {
  html {
    font-size: 28px; } }
@media only screen and (max-device-width: 800px) and (max-width: 700px), only screen and (max-width: 800px) and (max-width: 700px) {
  html {
    font-size: 26px; } }
@media only screen and (max-device-width: 800px) and (max-width: 600px), only screen and (max-width: 800px) and (max-width: 600px) {
  html {
    font-size: 24px; } }
@media only screen and (max-device-width: 800px) and (max-width: 500px), only screen and (max-width: 800px) and (max-width: 500px) {
  html {
    font-size: 22px; } }
@media only screen and (max-device-width: 800px) and (max-device-width: 800px), only screen and (max-width: 800px) and (max-device-width: 800px) {
  html {
    font-size: 28px; } }
@media only screen and (max-device-width: 800px) and (max-device-width: 700px), only screen and (max-width: 800px) and (max-device-width: 700px) {
  html {
    font-size: 26px; } }
@media only screen and (max-device-width: 800px) and (max-device-width: 600px), only screen and (max-width: 800px) and (max-device-width: 600px) {
  html {
    font-size: 24px; } }
@media only screen and (max-device-width: 800px) and (max-device-width: 500px), only screen and (max-width: 800px) and (max-device-width: 500px) {
  html {
    font-size: 22px; } }
@media only screen and (max-device-width: 800px) and (max-device-width: 400px), only screen and (max-width: 800px) and (max-device-width: 400px) {
  html {
    font-size: 20px; } }
@media only screen and (max-device-width: 800px) and (max-device-width: 360px), only screen and (max-width: 800px) and (max-device-width: 360px) {
  html {
    font-size: 18px; } }
@media only screen and (max-device-width: 800px) and (max-device-width: 320px), only screen and (max-width: 800px) and (max-device-width: 320px) {
  html {
    font-size: 16px; } }
@media only screen and (max-device-width: 800px) and (max-device-width: 320px), only screen and (max-width: 800px) and (max-device-width: 320px) {
  html {
    font-size: 14px; } }
@media only screen and (-webkit-min-device-pixel-ratio: 1.3) and (max-device-width: 1280px), only screen and (min-resolution: 124.8dpi) and (max-device-width: 1280px) {
  html {
    font-size: 18px; } }
@media only screen and (-webkit-min-device-pixel-ratio: 1.3) and (max-device-width: 320px), only screen and (min-resolution: 124.8dpi) and (max-device-width: 320px) {
  html {
    font-size: 16px; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 2560px), only screen and (min-resolution: 192dpi) and (max-device-width: 2560px) {
  html {
    font-size: 24px; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 1600px), only screen and (min-resolution: 192dpi) and (max-device-width: 1600px) {
  html {
    font-size: 22px; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 1280px), only screen and (min-resolution: 192dpi) and (max-device-width: 1280px) {
  html {
    font-size: 20px; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 1280px) and (max-device-height: 600px), only screen and (min-resolution: 192dpi) and (max-device-width: 1280px) and (max-device-height: 600px) {
  html {
    font-size: 18px; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 320px), only screen and (min-resolution: 192dpi) and (max-device-width: 320px) {
  html {
    font-size: 18px; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 320px) and (max-device-height: 480px), only screen and (min-resolution: 192dpi) and (max-device-width: 320px) and (max-device-height: 480px) {
  html {
    font-size: 16px; } }

/*# sourceMappingURL=app.css.map */
