/*------------- GLOBAL VARS -----------------*/
/*------------- FUNCTIONS -----------------*/
/*------------- MIXINS -----------------*/
/*------------- GLOBAL STYLES -----------------*/
* {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  font-family: 'filson-pro'; }

body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center -5000px;
  background-size: cover;
  overflow-x: hidden;
  -webkit-transition: background-position 0.15s linear;
  -moz-transition: background-position 0.15s linear;
  -o-transition: background-position 0.15s linear;
  -ms-transition: background-position 0.15s linear;
  transition: background-position 0.15s linear; }

html.loaded body {
  background-position: center center; }

/*------------- PAGE HEAD -----------------*/
header.page-head {
  background-color: #a1a1a1;
  position: fixed;
  z-index: 10;
  width: 100%;
  box-sizing: border-box;
  -webkit-transition: height 0.15s ease-out;
  -moz-transition: height 0.15s ease-out;
  -o-transition: height 0.15s ease-out;
  -ms-transition: height 0.15s ease-out;
  transition: height 0.15s ease-out;
  -webkit-box-shadow: 0px 4px 8px 2px rgba(2, 18, 28, 0.25);
  -moz-box-shadow: 0px 4px 8px 2px rgba(2, 18, 28, 0.25);
  box-shadow: 0px 4px 8px 2px rgba(2, 18, 28, 0.25); }
  header.page-head h1 {
    color: #fff;
    font-weight: 900;
    position: absolute; }
    header.page-head h1 span {
      color: #fefd3e;
      line-height: inherit; }
  header.page-head button {
    position: absolute;
    background-color: transparent;
    -webkit-transition: right 0.15s ease-out;
    -moz-transition: right 0.15s ease-out;
    -o-transition: right 0.15s ease-out;
    -ms-transition: right 0.15s ease-out;
    transition: right 0.15s ease-out;
    text-indent: -99999px;
    overflow: hidden;
    background-image: url("../images/menu_button.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
    header.page-head button:hover, header.page-head button:active {
      background-image: url("../images/menu_button_hover.svg"); }
  header.page-head h1.logo {
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    -ms-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out; }
  header.page-head h1.splash {
    top: -500px;
    -webkit-transition: top 0.15s ease-out;
    -moz-transition: top 0.15s ease-out;
    -o-transition: top 0.15s ease-out;
    -ms-transition: top 0.15s ease-out;
    transition: top 0.15s ease-out; }
  header.page-head h2.splash {
    font-weight: 200;
    color: #ccc;
    position: absolute;
    opacity: 0;
    bottom: 500px;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    -webkit-transition: bottom 0.2s ease-out;
    -moz-transition: bottom 0.2s ease-out;
    -o-transition: bottom 0.2s ease-out;
    -ms-transition: bottom 0.2s ease-out;
    transition: bottom 0.2s ease-out; }

/*------------- SPLASH PAGE -----------------*/
.splash header.page-head {
  height: 100%; }
  .splash header.page-head h1.logo {
    left: -400px; }
  .splash header.page-head button {
    right: -400px; }

.splash section.banner ul {
  left: 20%; }

/*------------- MAIN NAV -----------------*/
nav {
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
  background-color: #99b1c7;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: left 0.2s ease-out;
  -moz-transition: left 0.2s ease-out;
  -o-transition: left 0.2s ease-out;
  -ms-transition: left 0.2s ease-out;
  transition: left 0.2s ease-out; }
  nav.off {
    left: 100%; }
  nav button {
    position: absolute;
    background-color: transparent;
    -webkit-transition: right 0.15s ease-out;
    -moz-transition: right 0.15s ease-out;
    -o-transition: right 0.15s ease-out;
    -ms-transition: right 0.15s ease-out;
    transition: right 0.15s ease-out;
    text-indent: -99999px;
    overflow: hidden;
    background-image: url("../images/menu_close.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
    nav button:hover, nav button:active {
      background-image: url("../images/menu_close_hover.svg"); }
  nav ul {
    list-style-type: none;
    position: absolute;
    top: 20%;
    left: 5%; }
  nav li {
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto 100%; }
    nav li a {
      color: #fff;
      text-decoration: none; }
    nav li a:hover, nav li a:active {
      color: #fefd3e; }
  nav li.email {
    background-image: url("../images/icon_email.svg"); }
  nav li.phone {
    background-image: url("../images/icon_phone2.svg"); }
  nav li.github {
    background-image: url("../images/icon_github.svg"); }
  nav li.linkedin {
    background-image: url("../images/icon_linkedin.svg"); }

/*------------- MAIN BANNER -----------------*/
section.banner {
  display: block;
  position: relative;
  overflow: hidden;
  -webkit-transition: height 0.2s ease-out;
  -moz-transition: height 0.2s ease-out;
  -o-transition: height 0.2s ease-out;
  -ms-transition: height 0.2s ease-out;
  transition: height 0.2s ease-out; }
  section.banner ul {
    list-style-type: none;
    position: absolute;
    left: 0;
    width: 100%;
    -webkit-transition: left 1s ease-out, bottom 0.4s ease-out;
    -moz-transition: left 1s ease-out, bottom 0.4s ease-out;
    -o-transition: left 1s ease-out, bottom 0.4s ease-out;
    -ms-transition: left 1s ease-out, bottom 0.4s ease-out;
    transition: left 1s ease-out, bottom 0.4s ease-out; }
    section.banner ul li {
      position: absolute;
      width: 100%;
      top: 0;
      text-align: center;
      color: #fff;
      font-weight: 900;
      opacity: 0;
      left: 5%;
      z-index: 0;
      -webkit-transition: opacity 1s ease-out, left 1s ease-out;
      -moz-transition: opacity 1s ease-out, left 1s ease-out;
      -o-transition: opacity 1s ease-out, left 1s ease-out;
      -ms-transition: opacity 1s ease-out, left 1s ease-out;
      transition: opacity 1s ease-out, left 1s ease-out; }
      section.banner ul li span {
        color: #fefd3e; }
    section.banner ul li.on {
      opacity: 1;
      left: 0;
      z-index: 1; }

/*------------- MAIN SECTION -----------------*/
section.main {
  background-color: #fff; }
  section.main h2 {
    color: #a1a1a1;
    font-weight: 200;
    opacity: 1;
    -webkit-transition: opacity 0.75s ease-in-out;
    -moz-transition: opacity 0.75s ease-in-out;
    -o-transition: opacity 0.75s ease-in-out;
    -ms-transition: opacity 0.75s ease-in-out;
    transition: opacity 0.75s ease-in-out; }
  section.main section.display {
    background-repeat: repeat; }

/*------------- MAIN ANIMATIONS-----------------*/
.splash section.main h2 {
  opacity: 0; }
.splash section.main section.display div.screen {
  right: -25px; }

/*------------- HOME DISPLAY -----------------*/
section.display {
  line-height: 0;
  letter-spacing: 0;
  font-size: 0; }
  section.display div.screen {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    right: 0;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    -ms-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    -webkit-transition: right 0.4s ease-out;
    -moz-transition: right 0.4s ease-out;
    -o-transition: right 0.4s ease-out;
    -ms-transition: right 0.4s ease-out;
    transition: right 0.4s ease-out; }
    section.display div.screen .box {
      transform-style: preserve-3d;
      transition: 1s;
      box-sizing: border-box;
      -webkit-transform-style: preserve-3d;
      -webkit-transition: 1s;
      -moz-transform-style: preserve-3d;
      -moz-transition: 1s;
      -ms-transform-style: preserve-3d;
      -ms-transition: 1s;
      -o-transform-style: preserve-3d;
      -o-transition: 1s;
      display: inline-block;
      width: 100%;
      position: relative; }
      section.display div.screen .box div {
        width: 100%;
        backface-visibility: hidden;
        /* W3C */
        -webkit-backface-visibility: hidden;
        /* Safari & Chrome */
        -moz-backface-visibility: hidden;
        /* Firefox */
        -ms-backface-visibility: hidden;
        /* Internet Explorer */
        -o-backface-visibility: hidden;
        /* Opera */
        box-sizing: border-box; }
      section.display div.screen .box .back {
        background: #99b1c7;
        height: 100%;
        transform: rotatey(-180deg);
        -ms-transform: rotatey(-180deg);
        /* IE 9 */
        -moz-transform: rotatey(-180deg);
        /* Firefox */
        -webkit-transform: rotatey(-180deg);
        /* Safari and Chrome */
        -o-transform: rotatey(-180deg);
        /* Opera */
        position: absolute;
        top: 0;
        width: 100%; }
        section.display div.screen .box .back h3 {
          color: #fff;
          font-weight: 400; }
        section.display div.screen .box .back p.text {
          color: #fff;
          font-weight: 400; }
        section.display div.screen .box .back p.button a {
          position: absolute;
          text-align: center;
          color: #fff;
          font-weight: 400;
          box-sizing: border-box;
          background-color: transparent;
          text-decoration: none;
          border: 1px solid #fff; }
        section.display div.screen .box .back p.button a:hover {
          color: #99b1c7;
          background-color: #fefd3e;
          border: 1px solid #fefd3e; }
    section.display div.screen .box.flipped {
      transform: rotatey(180deg);
      -ms-transform: rotatey(180deg);
      /* IE 9 */
      -moz-transform: rotatey(180deg);
      /* Firefox */
      -webkit-transform: rotatey(180deg);
      /* Safari and Chrome */
      -o-transform: rotatey(180deg);
      /* Opera */ }
    section.display div.screen img {
      width: 100%;
      height: auto; }

/*------------- PAGE FOOT -----------------*/
footer p {
  color: #a1a1a1;
  font-weight: 200; }

/*------------- BASE FONT -----------------*/
@media only screen and (min-width: 768px) {
  html {
    font-size: 16px; } }
@media only screen and (min-width: 1000px) {
  html {
    font-size: 18px; } }
@media only screen and (min-width: 1000px) and (min-height: 600px) {
  html {
    font-size: 16px; } }
@media only screen and (min-width: 1200px) {
  html {
    font-size: 20px; } }
@media only screen and (min-width: 1400px) {
  html {
    font-size: 22px; } }
@media only screen and (min-width: 1600px) {
  html {
    font-size: 24px; } }
@media only screen and (min-width: 1800px) {
  html {
    font-size: 26px; } }
@media only screen and (min-width: 2000px) {
  html {
    font-size: 28px; } }
@media only screen and (min-width: 2200px) {
  html {
    font-size: 30px; } }
@media only screen and (min-width: 2400px) {
  html {
    font-size: 32px; } }
@media only screen and (min-width: 2600px) {
  html {
    font-size: 34px; } }
/*------------- GENERIC -----------------*/
.mobile {
  display: none; }

/*------------- BODY -----------------*/
body {
  background-image: url("../images/bg_wp_2500X1750.jpg"); }

/*------------- PAGE HEAD -----------------*/
header.page-head {
  height: 4.5rem; }
  header.page-head h1.logo {
    font-size: 3.5rem;
    line-height: 2.5rem;
    top: 1rem;
    text-indent: -0.15rem;
    left: 5%; }
  header.page-head button {
    top: 1rem;
    width: 4.5rem;
    height: 2.5rem;
    line-height: 0;
    right: 5%; }
  header.page-head h1.splash {
    font-size: 7.5rem;
    line-height: 7.5rem;
    right: 5%; }
  header.page-head h2.splash {
    font-size: 3.75rem;
    line-height: 3.75rem;
    left: 5%;
    bottom: 2rem; }

/*------------- SPLASH PAGE -----------------*/
.splash header.page-head h1.splash {
  top: 2rem; }
.splash header.page-head h2.splash {
  bottom: 2rem;
  opacity: 1; }

/*------------- MAIN NAV -----------------*/
nav button {
  top: 1rem;
  width: 3.55rem;
  height: 3.55rem;
  line-height: 0;
  right: 5%; }
nav ul {
  top: 10rem;
  left: 5%; }
  nav ul li {
    font-size: 3.25rem;
    line-height: 3.25rem;
    margin-bottom: 2.25rem;
    padding-left: 6.25rem; }

/*------------- MAIN BANNER -----------------*/
section.banner ul li {
  font-size: 6rem;
  line-height: 6rem;
  top: -3rem; }

@media only screen and (min-width: 1400px) {
  section.banner ul li {
    font-size: 5rem;
    line-height: 5rem;
    top: -2.5rem; } }
/*------------- MAIN SECTION -----------------*/
section.main h2 {
  margin: 0 5%;
  padding: 1.25rem 0;
  font-size: 2.25rem; }
section.main section.display {
  padding: 1.25rem 5%;
  background-image: url("../images/floral_bg_tile_250X250.jpg ");
  background-size: 12.5rem 12.5rem; }

/*------------- HOME DISPLAY -----------------*/
@media only screen and (min-width: 768px) {
  div.screen {
    width: 50%; }
    div.screen .box .back h3 {
      font-size: 4.25rem;
      line-height: 3.75rem;
      margin: 1rem 5%; }
    div.screen .box .back p.text {
      font-size: 0.9rem;
      line-height: 1.2rem;
      margin: 0 5% 0 5%; }
    div.screen .box .back p.button a {
      height: 2.25rem;
      width: 45%;
      bottom: 1rem;
      left: 5%;
      font-size: 0.9rem;
      line-height: 1.2rem;
      padding-top: 0.5rem; } }
@media only screen and (min-width: 850px) {
  div.screen {
    width: 50%; }
    div.screen .box .back h3 {
      font-size: 4.75rem;
      line-height: 3.75rem;
      margin: 1.25rem 5%; }
    div.screen .box .back p.text {
      font-size: 1.1rem;
      line-height: 1.4rem;
      margin: 0 5% 0 5%; }
    div.screen .box .back p.button a {
      height: 3rem;
      width: 45%;
      bottom: 1.25rem;
      left: 5%;
      font-size: 1.1rem;
      line-height: 1.4rem;
      padding-top: 0.75rem; } }
@media only screen and (min-width: 1000px) {
  div.screen {
    width: 33.333333%; }
    div.screen .box .back h3 {
      font-size: 3.25rem;
      line-height: 2.25rem;
      margin: 1.25rem 5%; }
    div.screen .box .back p.text {
      font-size: 0.8rem;
      line-height: 1rem;
      margin: 0 5% 0 5%; }
    div.screen .box .back p.button a {
      height: 2.75rem;
      width: 45%;
      bottom: 1.25rem;
      left: 5%;
      font-size: 0.8rem;
      line-height: 1rem;
      padding-top: 0.75rem; } }
@media only screen and (min-width: 1250px) {
  div.screen {
    width: 25%; }
    div.screen .box .back h3 {
      font-size: 2.25rem;
      line-height: 1.75rem;
      margin: 0.75rem 5%; }
    div.screen .box .back p.text {
      font-size: 0.7rem;
      line-height: 0.9rem;
      margin: 0 5% 0 5%; }
    div.screen .box .back p.button a {
      height: 2rem;
      width: 45%;
      bottom: 0.75rem;
      left: 5%;
      font-size: 0.7rem;
      line-height: 1rem;
      padding-top: 0.45rem; } }
@media only screen and (min-width: 1750px) {
  div.screen {
    width: 20%; }
    div.screen .box .back h3 {
      font-size: 1.75rem;
      line-height: 1.25rem;
      margin: 0.75rem 5%; }
    div.screen .box .back p.text {
      font-size: 0.6rem;
      line-height: 0.8rem;
      margin: 0 5% 0 5%; }
    div.screen .box .back p.button a {
      height: 1.75rem;
      width: 45%;
      bottom: 0.75rem;
      left: 5%;
      font-size: 0.6rem;
      line-height: 0.8rem;
      padding-top: 0.45rem; } }
/* high res desktop */
@media only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  div.screen {
    width: 50%; }
    div.screen .box .back h3 {
      font-size: 2.75rem;
      line-height: 2rem;
      margin: 0.75rem 5%; }
    div.screen .box .back p.text {
      font-size: 0.7rem;
      line-height: 1.1rem;
      margin: 0 5% 0 5%; }
    div.screen .box .back p.button a {
      height: 1.75rem;
      width: 45%;
      bottom: 0.75rem;
      left: 5%;
      font-size: 0.7rem;
      line-height: 1.1rem;
      padding-top: 0.3rem; } }
@media only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  div.screen {
    width: 50%; }
    div.screen .box .back h3 {
      font-size: 3.5rem;
      line-height: 2.5rem;
      margin: 1rem 5%; }
    div.screen .box .back p.text {
      font-size: 0.9rem;
      line-height: 1.3rem;
      margin: 0 5% 0 5%; }
    div.screen .box .back p.button a {
      height: 2.25rem;
      width: 45%;
      bottom: 1rem;
      left: 5%;
      font-size: 0.9rem;
      line-height: 1.3rem;
      padding-top: 0.5rem; } }
@media only screen and (min-width: 1250px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 1250px) and (min-resolution: 192dpi) {
  div.screen {
    width: 33.333333333%; }
    div.screen .box .back h3 {
      font-size: 3rem;
      line-height: 2.25rem;
      margin: 0.75rem 5%; }
    div.screen .box .back p.text {
      font-size: 0.8rem;
      line-height: 1.2rem;
      margin: 0 5% 0 5%; }
    div.screen .box .back p.button a {
      height: 1.75rem;
      width: 45%;
      bottom: 0.75rem;
      left: 5%;
      font-size: 0.8rem;
      line-height: 1.2rem;
      padding-top: 0.3rem; } }
@media only screen and (min-width: 1500px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 1500px) and (min-resolution: 192dpi) {
  div.screen {
    width: 33.333333333%; }
    div.screen .box .back h3 {
      font-size: 3.75rem;
      line-height: 2.75rem;
      margin: 1rem 5%; }
    div.screen .box .back p.text {
      font-size: 0.9rem;
      line-height: 1.3rem;
      margin: 0 5% 0 5%; }
    div.screen .box .back p.button a {
      height: 2rem;
      width: 45%;
      bottom: 0.9rem;
      left: 5%;
      font-size: 0.9rem;
      line-height: 1.3rem;
      padding-top: 0.4rem; } }
@media only screen and (min-width: 1750px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 1750px) and (min-resolution: 192dpi) {
  div.screen {
    width: 25%; }
    div.screen .box .back h3 {
      font-size: 3.25rem;
      line-height: 2.25rem;
      margin: 1rem 5%; }
    div.screen .box .back p.text {
      font-size: 0.8rem;
      line-height: 1.2rem;
      margin: 0 5% 0 5%; }
    div.screen .box .back p.button a {
      height: 2rem;
      width: 45%;
      bottom: 1rem;
      left: 5%;
      font-size: 0.8rem;
      line-height: 1.2rem;
      padding-top: 0.4rem; } }
@media only screen and (min-width: 2000px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 2000px) and (min-resolution: 192dpi) {
  div.screen {
    width: 25%; }
    div.screen .box .back h3 {
      font-size: 3.75rem;
      line-height: 2.5rem;
      margin: 1.25rem 5%; }
    div.screen .box .back p.text {
      font-size: 0.9rem;
      line-height: 1.2rem;
      margin: 0 5% 0 5%; }
    div.screen .box .back p.button a {
      height: 2.25rem;
      width: 45%;
      bottom: 1rem;
      left: 5%;
      font-size: 0.9rem;
      line-height: 1.2rem;
      padding-top: 0.5rem; } }
@media only screen and (min-width: 2250px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 2250px) and (min-resolution: 192dpi) {
  div.screen {
    width: 20%; }
    div.screen .box .back h3 {
      font-size: 3.25rem;
      line-height: 2.25rem;
      margin: 1rem 5%; }
    div.screen .box .back p.text {
      font-size: 0.8rem;
      line-height: 1.1rem;
      margin: 0 5% 0 5%; }
    div.screen .box .back p.button a {
      height: 2rem;
      width: 45%;
      bottom: 1rem;
      left: 5%;
      font-size: 0.8rem;
      line-height: 1.2rem;
      padding-top: 0.4rem; } }
/*------------- PAGE FOOT -----------------*/
footer p {
  font-size: 1rem;
  margin: 0 5%;
  padding: 1.75rem 0; }

@media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
  /*------------- BASE FONT -----------------*/ }
@media only screen and (max-device-width: 767px) and (max-width: 800px), only screen and (max-width: 767px) and (max-width: 800px) {
  html {
    font-size: 28px; } }
@media only screen and (max-device-width: 767px) and (max-width: 700px), only screen and (max-width: 767px) and (max-width: 700px) {
  html {
    font-size: 26px; } }
@media only screen and (max-device-width: 767px) and (max-width: 600px), only screen and (max-width: 767px) and (max-width: 600px) {
  html {
    font-size: 24px; } }
@media only screen and (max-device-width: 767px) and (max-width: 500px), only screen and (max-width: 767px) and (max-width: 500px) {
  html {
    font-size: 22px; } }
@media only screen and (max-device-width: 767px) and (max-width: 400px), only screen and (max-width: 767px) and (max-width: 400px) {
  html {
    font-size: 20px; } }
@media only screen and (max-device-width: 767px) and (max-width: 375px), only screen and (max-width: 767px) and (max-width: 375px) {
  html {
    font-size: 18px; } }
@media only screen and (max-device-width: 767px) and (max-width: 350px), only screen and (max-width: 767px) and (max-width: 350px) {
  html {
    font-size: 16px; } }
@media only screen and (max-device-width: 767px) and (max-width: 325px), only screen and (max-width: 767px) and (max-width: 325px) {
  html {
    font-size: 14px; } }
@media only screen and (max-device-width: 767px) and (max-width: 300px), only screen and (max-width: 767px) and (max-width: 300px) {
  html {
    font-size: 12px; } }
@media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
  /*------------- GENERIC -----------------*/
  .mobile {
    display: inherit; }

  .desktop {
    display: none; }

  /*------------- BODY -----------------*/
  body {
    background-image: url("../images/bg_wp_800X560.jpg"); }

  /*------------- PAGE HEAD -----------------*/
  /*
  header.page-head {
    h1 {
      font-size: em(50px, $bfs);
      line-height: em(50px, $bfs);
      right: 5%;
      top: em(20px, $bfs);
    }
  
    h2 {
      font-size: em(25px, $bfs);
      line-height: em(25px, $bfs);
      left: 5%;
      bottom: em(20px, $bfs);
    }
  
    button {
  
  
    }
  }
  
  */
  header.page-head {
    height: 4.16667rem; }
    header.page-head h1.logo {
      font-size: 4.16667rem;
      line-height: 2.91667rem;
      top: 0.58333rem;
      text-indent: -0.25rem;
      left: 4%; }
    header.page-head button {
      top: 0.58333rem;
      width: 5.83333rem;
      height: 2.91667rem;
      line-height: 0;
      right: 4%; }
    header.page-head h1.splash {
      font-size: 6.25rem;
      line-height: 4.58333rem;
      right: 5%; }
    header.page-head h2.splash {
      font-size: 2.5rem;
      line-height: 2.08333rem;
      left: 5%; }

  /*------------- SPLASH PAGE -----------------*/
  .splash header.page-head h1.splash {
    top: 1.66667rem; }
  .splash header.page-head h2.splash {
    bottom: 1.66667rem;
    opacity: 1; }

  /*------------- MAIN NAV -----------------*/
  nav button {
    top: 0.58333rem;
    width: 2.91667rem;
    height: 2.91667rem;
    line-height: 0;
    right: 4%; }
  nav ul {
    top: 8.33333rem;
    left: 5%; }
    nav ul li {
      font-size: 1.33333rem;
      line-height: 1.33333rem;
      margin-bottom: 2.5rem;
      padding-left: 2rem; }

  /*------------- MAIN BANNER -----------------*/
  section.banner ul li {
    font-size: 3.33333rem;
    line-height: 3.33333rem;
    top: -1.66667rem; } }
@media only screen and (max-device-width: 767px) and (max-width: 400px), only screen and (max-width: 767px) and (max-width: 400px) {
  section.banner ul li {
    font-size: 2.5rem;
    line-height: 2.5rem;
    top: -1.25rem; } }
@media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
  /*------------- MAIN SECTION -----------------*/
  section.main h2 {
    margin: 0 5%;
    padding: 1.25rem 0;
    font-size: 2.5rem; }
  section.main section.display {
    padding: 0.83333rem 5%;
    background-image: url("../images/floral_bg_tile_250X250.jpg ");
    background-size: 10.41667rem 10.41667rem; }

  /*------------- HOME DISPLAY -----------------*/
  section.display div.screen {
    width: 100%; }
    section.display div.screen .box .back h3 {
      font-size: 3.33333rem;
      line-height: 2.5rem;
      margin: 0.83333rem 5%; }
    section.display div.screen .box .back p.text {
      font-size: 1rem;
      line-height: 1.33333rem;
      margin: 0 5% 0 5%; }
    section.display div.screen .box .back p.button a {
      height: 2.5rem;
      width: 45%;
      bottom: 0.83333rem;
      left: 5%;
      font-size: 1rem;
      line-height: 1.33333rem;
      padding-top: 0.58333rem; } }
@media only screen and (max-device-width: 767px) and (max-width: 450px), only screen and (max-width: 767px) and (max-width: 450px) {
  section.display div.screen .box .back h3 {
    font-size: 2.5rem;
    line-height: 1.66667rem;
    margin: 1.25rem 5%; }
  section.display div.screen .box .back p.text {
    font-size: 0.83333rem;
    line-height: 1.16667rem;
    margin: 0 5% 0 5%; }
  section.display div.screen .box .back p.button a {
    height: 2.08333rem;
    width: 45%;
    bottom: 1.25rem;
    left: 5%;
    font-size: 0.83333rem;
    line-height: 1.16667rem;
    padding-top: 0.41667rem; } }
@media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
  /*------------- PAGE FOOT -----------------*/
  footer p {
    font-size: 1.66667rem;
    margin: 0 5%;
    padding: 2.91667rem 0; }

  /*------------- BODY -----------------*/ }
@media only screen and (-webkit-min-device-pixel-ratio: 1.3) and (max-device-width: 1280px), only screen and (min-resolution: 124.8dpi) and (max-device-width: 1280px) {
  html {
    font-size: 18px; } }
@media only screen and (-webkit-min-device-pixel-ratio: 1.3) and (max-device-width: 320px), only screen and (min-resolution: 124.8dpi) and (max-device-width: 320px) {
  html {
    font-size: 16px; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 2560px), only screen and (min-resolution: 192dpi) and (max-device-width: 2560px) {
  html {
    font-size: 24px; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 1600px), only screen and (min-resolution: 192dpi) and (max-device-width: 1600px) {
  html {
    font-size: 22px; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 1280px), only screen and (min-resolution: 192dpi) and (max-device-width: 1280px) {
  html {
    font-size: 18px; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 1280px) and (max-device-height: 600px), only screen and (min-resolution: 192dpi) and (max-device-width: 1280px) and (max-device-height: 600px) {
  html {
    font-size: 18px; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 320px), only screen and (min-resolution: 192dpi) and (max-device-width: 320px) {
  html {
    font-size: 18px; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 320px) and (max-device-height: 480px), only screen and (min-resolution: 192dpi) and (max-device-width: 320px) and (max-device-height: 480px) {
  html {
    font-size: 16px; } }

/*# sourceMappingURL=app.css.map */
