
<h2>Portfolio</h2>

<section class="display">


    <div screen-shot>
            <div class="front">
                <img src="assets/images/screens/bol.png" />
            </div>
            <div class="back">
                <h3>2015</h3>
                <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
                <p class="button"><a target="_blank" href="http://www.thebookof.life">View</a></p>
            </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/hnw.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="http://www.heynoway.com">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/whsmith_ereader.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/mobcast.html#whsmith-reader">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/whsmith_tablet.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/mobcast.html#whsmith-tablet">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/whsmith_smart.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/mobcast.html#whsmith-advanced">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/orage_prize_desktop.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/mobcast.html#orange-prize">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/orange_prize_smart.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/mobcast.html#orange-prize-advanced">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/orange_desktop.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/mobcast.html#orange-desktop">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/orange_tablet.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/mobcast.html#orange-tablet">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/orange_smart.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/mobcast.html#orange-advanced">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/orange_java.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/mobcast.html#orange-simple">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/axa.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/mobcast.html#axa">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/thomas_cook.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/mobcast.html#thomascook">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/mobcast.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/mobcast.html#mobcast">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/gospoken_desktop.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/mobcast.html#gospoken-desktop">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/gospoken_smart.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/mobcast.html#gospoken-simple">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/tmobile_smart.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/mobcast.html#tmobile-advanced">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/tmobile_java.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/mobcast.html#tmobile-simple">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/gamma-y.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/portfolio/gamma-y/index.html">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/direct_law.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/epoq.htm">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/wilson_nesbitt.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/epoq.htm">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/login_2_law.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/epoq.htm">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/semantic_dream.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/portfolio/semantic_dream/index.html">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/greenking.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/portfolio/greeneking/index.html">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/destination_guide.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/portfolio/destinationguide/index.html">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/css_joy.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/portfolio/cssjoy/index.htm">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/oasis.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/portfolio/oasis/index.htm">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/mcms.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/portfolio/mcms/index.htm">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/midwives.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/portfolio/midwives/index.htm">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/cphva.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/portfolio//cphva/index.htm">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/rcm.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/portfolio/rcm/index.htm">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/ancilla.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/portfolio/ancilla/splash.htm">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/ui_media.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/portfolio/uimedia/splash.htm">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/ev3.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/portfolio/ev3/index.htm">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/eac.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/portfolio/eac/index.htm">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/kinky.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/portfolio/kinky/index.htm">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/pushca.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/portfolio/pushca/index.htm">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/connoisseur_club.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/portfolio/connoisseur/index.htm">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/profylers.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/portfolio/profylers/index.htm">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/bretagne_breaks.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/portfolio/bretagne/index.htm">View</a></p>
        </div>
    </div>
    <div screen-shot>
        <div class="front">
            <img src="assets/images/screens/ccx.png" />
        </div>
        <div class="back">
            <h3>2015</h3>
            <p class="text">UX Design, Visual Design, HTML5, CSS3, OO JS, Grunt, SASS, Angular, WebStorm, NPM, Node JS.</p>
            <p class="button"><a target="_blank" href="/portfolio/ccx/index.htm">View</a></p>
        </div>
    </div>





</section>

<footer>
    <p>&copy; Absaar Hasan 2015</p>
</footer>
