
<h2>Portfolio</h2>

<section class="display">

    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>
    <div class="screen dummy-screen"><img src="assets/images/DUMMY_SCREEN.jpg" /></div>

</section>

<footer>
    <p>&copy; Absaar Hasan 2015</p>
</footer>
