

<header class="page-head" >

        <h1 class="splash"><span>UI</span>2</h1>
        <h1 class="logo"><span>UI</span>2</h1>

        <h2 class="splash">Portfolio</h2>
        <button type="button" ng-click="">Menu</button>

</header>

<div banner>
        <ul>
             <li class="on"><span>UX</span> Design</li>
             <li><span>Visual</span> Design</li>
             <li><span>HTML5</span> / CSS3 </li>
             <li><span>OO</span> JavaScript</li>
             <li><span>Angular</span> JS</li>
        </ul>
</div>

<section ui-view class="main">

</section>



